In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

# Load the Data

In [5]:
data = pd.read_csv('sample.csv')
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

# Regression itself

In [7]:
x = data['SAT']
y = data['GPA']
xmatrix = x.values.reshape(-1,1)
reg = LinearRegression()
reg.fit(xmatrix,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Standardization

## R squared

In [8]:
reg.score(xmatrix ,y)

0.40600391479679765

## Coeff

In [10]:
reg.coef_

array([0.00165569])

## intercept

In [11]:
reg.intercept_

0.275040299660279

# Predictions

In [12]:
new = pd.DataFrame(data = [1740,1760] , columns =['SAT'])
new

    SAT
0  1740
1  1760

In [13]:
reg.predict(new)

array([3.15593751, 3.18905127])

In [14]:
new['Predicted GPA'] = reg.predict(new)
new

    SAT  Predicted GPA
0  1740       3.155938
1  1760       3.189051